//- Analytics tracking
if theme.google_analytics
    script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{theme.google_analytics}']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

script(src='https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js')

if theme.valine
    script.
        var loadMiniValine = ()=>{
            new MiniValine({
                el: '.vcomment',
                backend: 'waline',
                serverURLs: '#{theme.serverURLs}',
                placeholder: '#{theme.placeHolder}',
                pathname: location.pathname,
                enableFlag: true,
                master: ['355f38b55f4638b743287836ea933e6d'],
                friends: [],
                visitor: #{theme.visitor},
                enableUA: true,
                tagMeta: ["博主", "朋友", "访客"]
            });
        }

        (function () {
            var dsq = document.createElement('script'); dsq.async = false;
            dsq.src = 'https://cdn.jsdelivr.net/npm/minivaline@latest/dist/MiniValine.min.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            dsq.onload = loadMiniValine
        })();

script.
    var timer = null;
    document.addEventListener('DOMContentLoaded', function() {
        Barba.Pjax.start()
    })
    Barba.Dispatcher.on('newPageReady',()=>{
        clearInterval(timer);
        timer = setInterval(function () {
            var top = document.body.scrollTop || document.documentElement.scrollTop;
            var speed = top / 4;
            if (document.body.scrollTop!=0) {
                document.body.scrollTop -= speed;
            }else {
                document.documentElement.scrollTop -= speed;
            }
            if (top == 0) {
                clearInterval(timer);
            }
        }, 30); 

        if (document.querySelectorAll(".vcomment")[0] && typeof MiniValine !== "undefined"){
            loadMiniValine()
        }
    });
    