script(src='https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js')

if theme.valine
    script.
        var loadMiniValine = ()=>{
            new MiniValine({
                el: '#vcomment',
                backend: 'waline',
                serverURLs: '#{theme.serverURLs}',
                placeholder: '#{theme.placeHolder}',
                pathname: location.pathname,
                enableFlag: true,
                master: ['355f38b55f4638b743287836ea933e6d'],
                friends: [],
                visitor: #{theme.visitor},
                enableUA: true,
                tagMeta: ["博主", "朋友", "访客"]
            });
        }

        (function () {
            var dsq = document.createElement('script'); dsq.async = true;
            dsq.src = 'https://cdn.jsdelivr.net/npm/minivaline@latest/dist/MiniValine.min.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            dsq.onload = loadMiniValine
        })();

script.
    var scrollTimer = null;
    var progressTimer = null;
    var loadingBar = document.querySelector(".loading-bar");
    var progress = document.querySelector(".loading-bar .progress");

    document.addEventListener('DOMContentLoaded', function() {
        Barba.Pjax.start()
    })

    Barba.Dispatcher.on('linkClicked',()=>{

        var loadingBarWidth = 20;
        var MAX_LOADING_WIDTH = 95;

        loadingBar.classList.add("loading");
        progress.style.width = loadingBarWidth + "%";

        clearInterval(progressTimer);
        progressTimer = setInterval(()=> {
            loadingBarWidth += 5;
            if (loadingBarWidth > MAX_LOADING_WIDTH) {
            loadingBarWidth = MAX_LOADING_WIDTH;
            }
            progress.style.width = loadingBarWidth + "%";
        }, 500);
    })

    Barba.Dispatcher.on('transitionCompleted',()=>{
        clearInterval(progressTimer);

        progress.style.width = "100%";
        loadingBar.classList.remove("loading");

        setTimeout(()=> {
            progress.style.width = 0;
        }, 400);

        clearInterval(scrollTimer);
        scrollTimer = setInterval(function () {
            var top = document.body.scrollTop || document.documentElement.scrollTop;
            var speed = top / 4;
            if (document.body.scrollTop!=0) {
                document.body.scrollTop -= speed;
            }else {
                document.documentElement.scrollTop -= speed;
            }
            if (top == 0) {
                clearInterval(scrollTimer);
            }
        }, 30); 

        if (document.getElementById("vcomment")!==null && typeof MiniValine !== "undefined"){
            loadMiniValine()
        }
    });
    