script(src='https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js')

script.
    var loadWaline = ()=>{
        if (typeof waline !== "undefined"){
            waline.update()
        }else if (typeof Waline !== "undefined") {
            const waline = Waline.init({
                el: '#vcomment',
                serverURL: '#{theme.valine.serverURLs}',
                pageview:true,
                login: 'disable',
                copyright:false,
            })
        }
    }

    var loadArtitalk = ()=>{
        new Artitalk({
            appId: '#{theme.artitalk.appID}',
            appKey: '#{theme.artitalk.appKey}',
        })
    }

    var scrollSmoothly = (position)=>{
        if (!window.requestAnimationFrame) {
            window.requestAnimationFrame = function (cb) {
                return setTimeout(cb, 17);
            };
        }
        var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        var step = function () {
            var distance = position - scrollTop;
            scrollTop = scrollTop + distance / 5;
            if (Math.abs(distance) < 1) {
                window.scrollTo(0, position);
            } else {
                window.scrollTo(0, scrollTop);
                requestAnimationFrame(step);
            }
        };
        step();
    }


    (function () {
        var valine = document.createElement('script'); valine.async = true;
        var artitalk = document.createElement('script');artitalk.async = true;
        valine.src = 'https://unpkg.com/@waline/client@v2/dist/waline.js';
        artitalk.src = 'https://cdn.jsdelivr.net/gh/amtoaer/Artitalk@test/dist/js/artitalk.min.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(valine);
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(artitalk);
        if (document.getElementById("vcomment")!==null){
            valine.onload = loadWaline
        }
        if (document.getElementById('artitalk_main')!==null){
            artitalk.onload = loadArtitalk
        }
    })();

    var progressTimer;
    var loadingBar = document.querySelector(".loading-bar");
    var progress = document.querySelector(".loading-bar .progress");

    document.addEventListener('DOMContentLoaded', function() {
        Barba.Pjax.start()
    })

    Barba.Dispatcher.on('linkClicked',()=>{

        var loadingBarWidth = 20;
        var MAX_LOADING_WIDTH = 95;

        loadingBar.classList.add("loading");
        progress.style.width = loadingBarWidth + "%";

        clearInterval(progressTimer);
        progressTimer = setInterval(()=> {
            loadingBarWidth += 5;
            if (loadingBarWidth > MAX_LOADING_WIDTH) {
            loadingBarWidth = MAX_LOADING_WIDTH;
            }
            progress.style.width = loadingBarWidth + "%";
        }, 500);
    })

    Barba.Dispatcher.on('transitionCompleted',()=>{
        clearInterval(progressTimer);

        progress.style.width = "100%";
        loadingBar.classList.remove("loading");

        setTimeout(()=> {
            progress.style.width = 0;
        }, 400);

        scrollSmoothly(0)

        if (document.getElementById("vcomment")!==null){
            loadWaline()
        }
        if (document.getElementById('artitalk_main')!==null && typeof Artitalk !== "undefined"){
            loadArtitalk()
        }
    });
